*{
    box-sizing: border-box;
}
.container{
    width: 300px;
    margin: 0 auto;
}
.calc{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    padding: 15px;
    box-shadow: 1px 1px 5px 1px;
    border-radius: 10px;
}
.output{
    border: 1px solid rgba(0, 0, 0, .5);
    background-color: #fff;
    height: 67px;
    padding:20px 10px;
    text-align: right;
    font-size: 24px;
}
.buttons{
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.val{
    padding:20px  5px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .5);
}
.val:hover{
    background-color: rgb(133, 133, 133);
}
.val:active{
    background-color: rgb(114, 113, 113);
}
.val:nth-child(15){
    color: red;
    font-weight: 700;
}